/* makes with and height of items include the border's size */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default margins from items */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* set selection color to device theme color */
*::selection {
  color: HighlightText;
  background: Highlight;
}

/* set minimum height of body to (<view height using> - <extra size that appears when url bar disappears on scroll>) */
body {
  min-height: 100svh;
}

img,
picture,
svg,
video {
  /* set style of alt text when image fails to load */
  font-style: italic;

  /* make image the max size of its parent container */
  /* make sure alt text is aligned to the middle of images */
  max-width: 100%;
  vertical-align: middle;
}

/* wrap multiple words at a time to make wrapping look more balanced */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* remove dot from list elements */
ul,
ol,
dl {
  list-style: none;
}

/* remove second border from tables and fixes spacing issues */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** 
 * on windows devices with custom theme when using chromium based browsers,
 * don't override theme with the windows theme 
 */
button,
input,
input::placeholder,
select,
textarea,
textarea::placeholder {
  font: inherit;
  color: inherit;
  background: inherit;
  accent-color: Highlight;
}

/* set placeholder opacity to 50% (cus it has a different default on each browser) */
input::placeholder,
textarea::placeholder {
  opacity: 50%;
}

/* disable all animation on website when animations are diabled in OS/browser */
@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.001ms !important;
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
