:root {
  color-scheme: light dark;
}
@media (prefers-color-scheme: light) {
  :root {
    --color-text: #101010;
    --color-background: #ffffff;
    --color-block-background: #d6d6d6;
    --color-link: #aaaaaa;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #efefef;
    --color-background: #181818;
    --color-block-background: #292929;
    --color-link: #aaaaaa;
  }
}

html {
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: "Fire Code", monospace;
}

body {
  max-width: 60rem;
  padding: 1rem;
  margin-inline: auto;
  line-height: 1.5;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

nav li {
  display: inline;
}

:is(h1, h2, h3, h4, h5, h6)::before {
  content: "#";
}
@media (width > 62rem) {
  :is(h1, h2, h3, h4, h5, h6)::before {
    margin-left: -1ch;
  }
}

/* inline code */
p code {
  background-color: var(--color-block-background);
  padding-inline: 0.25rem;
  padding-block: 0.25rem;
  border-radius: 0.25rem;
}

/* code snippets */
pre code {
  counter-reset: code-line-counter;

  background-color: var(--color-block-background);
  margin-block: 0.5rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 0.5rem;
  display: block;
  overflow-x: auto;

  & span {
    counter-increment: code-line-counter;

    display: block;
    width: max-content;
    justify-content: space-between;

    &::before {
      content: counter(code-line-counter);

      display: inline-block;
      text-align: right;
      margin-right: 1ch;
    }
  }
}
